server/HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

../.DS_Store
.DS_Store
.DS_Store
#application.properties
application-oauth.properties
application-h2.properties
application-s3.properties
application-rds.properties
application-iamport.properties
application-sms.properties
application-ssl.properties

# build scripts
resources/scripts/profile.sh
resources/scripts/stop.sh
resources/scripts/start.sh
resources/scripts/health.sh
resources/scripts/switch.sh
